# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw

# VSCode
.vscode/
.settings/
*.code-workspace
*.vscode-server/
.history/
.localhistory/

# C++
*.out
*.exe
*.so
*.dll
*.obj
*.o
*.a
*.lib
*.dll.a
*.dll.lib
*.gch
*.pch
*.cache/
*.dSYM/
*.suo
*.pdb
*.idb
*.manifest
*.exp
*.ilk
*.aps
*.exp
*.map
*.log
*.tlog
*.iobj
*.ipch
*.opendb
*.ncb
*.log
*.sdf
*.opensdf
*.cachefile
*.ilk
*.log
*.tlog
*.unsuccessfulbuild
[Tt]humbs.db
[Dd]esktop.ini
*.db
*.log
*.tlog
*.pch
*.sbr
*.ilk
*.idb
*.pdb
*.obj
*.bsc
*.suo
*.user
*.userosscache
*.sln.docstates
*.suo
*.user
*.userosscache
*.suo
*.userosscache
*.suo
*.suo
*.suo
*.user
*.user
*.log
*.log
*.log
*.suo
*.suo
*.ncb
*.clw
*.dsw
*.opt
*.plg
*.aps
*.map
*.aps
*.ipch
*.iobj
*.lbr
*.idb
*.pdb
*.ilk
*.obj
*.pch
*.rsp
*.suo
*.tlb
*.tlh
*.tmp
*.ncb
*.log
*.aps
*.vshost.*
*.pidb
*.pdm
*.ilk
*.meta
*.obj
*.pdb
*.rsp
*.suo
*.tlb
*.tlh
*.tmp
*.mex*
*.dll
*.a
*.lib
*.so
*.dylib
*.ncb
*.log
*.vbw
*.ilk
*.sdf
*.opensdf
*.suo
*.cachefile
*.cachefile64
*.aps
*.bin
*.opendb
*.vcxproj.filters.user
*.vcxproj.user
*.nupkg
*.pfx
*.snk
*.snupkg
*.config
*.crash
*.coverage
*.exp
*.lib
*.log
*.mod
*.pdb
*.ilk
*.exe
*.dll
*.class
*.jar
*.war
*.ear
*.hprof
*.hs_err_pid*
*_JAVA_OPTIONS
*.jnilib
*.so
*.dll
*.dylib
*.rdata
*.map
*.idb
*.ilk
*.pdb
*.pgc
*.pgd
*.sym
*.ipdb
*.iobj
*.log
*.tlog
*.vshost.exe
*.vshost.exe.manifest
*.suo
*.user
*.userosscache
*.suo
*.userosscache
*.suo
*.suo
*.user
*.user
*.log
*.log
*.log
*.suo
*.suo
*.ncb
*.clw
*.dsw
*.opt
*.plg
*.aps
*.map
*.aps
*.ipch
*.iobj
*.lbr
*.idb
*.pdb
*.ilk
*.obj
*.pch
*.rsp
*.suo
*.tlb
*.tlh
*.tmp
*.ncb
*.log
*.aps
*.vshost.*
*.pidb
*.pdm
*.ilk
*.meta
*.obj
*.pdb
*.rsp
*.suo
*.tlb
*.tlh
*.tmp
*.mex*
